.tecnologia{color: rgb(219, 15, 15);
background-color: rgba(14, 219, 25, 0.685);
font-size: 20px;}
.tecnosnar{color: rgba(20, 34, 230, 0.932);
background-color: rgba(0, 0, 0, 0.918);
font-size: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.pag1{color: rgba(255, 0, 0, 0.822);
background-color: rgba(0, 0, 0, 0.664);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

/*cajas*/

.caja1{
    width: 50%;
    height: 60vh;
    margin: auto;
    background-color: brown;}

    .caja2{
        width: 70%;
        height: 300px;
        margin: 0%;
        background-color: blue;
    }

    .caja3{
        width: 80%;
        height: 200px;
        margin: 3%;
        background-color: blueviolet;
    }

    .caja4{
        width: 60%;
        height: 100px;
        background-color: aqua;
        margin: 5%;
      
    }

     .imgauris{
        width: 350px;
     }












/*color primario
1 rojo 
2 #9f0*/