.tecnologia{color: rgb(219, 15, 15);
background-color: rgba(9, 255, 0, 0.514);
font-size: 20px;}
.tecnosnar{color: rgba(20, 34, 230, 0.932);
background-color: rgba(0, 0, 0, 0.918);
font-size: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.pag1{color: rgba(255, 0, 0, 0.822);
background-color: rgba(153, 255, 0, 0.664);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}





/*pagina secundaria1*/



/*color primario
1 rojo 
2 #9f0*/